@font-face {
    font-family: 'District Pro';
    src: url('fonts/DistrictPro-Thin.woff2') format('woff2'),
        url('fonts/DistrictPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
* {
	font-family: 'District Pro';
	font-weight: 100;
	font-style: normal;
}
body {
	background-color: #fcfcfc;
	color: #4d4d4d;
}
figure {
	float: left;
}
article {
	margin-top: 10px;
	margin-bottom: 10px;
}
footer {
	margin-bottom: 20px;
}
/* @TOM this will set the color of your icons. you can put a hex */
section a {
	color:black;
}
.text-muted {
	color: #4d4d4d;
}
.video-responsive{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
.video-responsive iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;

	/*max-height: 500px;*/
}
.bio {
	margin-top: 40px;
	margin-right: 20px auto;
	margin-bottom: 20px;
	overflow: hidden;
}
.bio img {
	float: left;
	/*width: 200px;*/
	/*height: 200px;*/
	max-width: 380px;
	margin-right: 20px;
	margin-bottom: 10px;
	text-align: center;
}
.bio .blurb {
	margin: 20px;
}
#logo img {
	width: 300px;
	margin-top: 30px;
	margin-bottom: 10px;
}
  .title {
	font-size: 2.0rem;
	text-align: center;
  }
  .img-fluid {
  width: 100%;
  height: auto;
}


/* @TOM - if you're going to add any css. put it ABOVE these media queries. These have to happen last */
@media only screen and (max-width: 1280px){
}
@media only screen and (max-width: 992px){ 
}
@media only screen and (max-width: 768px){

  .bio .blurb {
    margin-left: 0px;
  }

  .bio img {
  	display:none;
  }

}

@media only screen and (max-width: 480px){
  #logo-wrapper img {
    width: 250px;
  }
  .title {
	font-size: 2.0rem;
	text-align: center;
  }  
}
